flow.json
[
    {
        "id": "3e745e36ff578044",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f633a238518a1779",
        "type": "mqtt-broker",
        "name": "",
        "broker": "37c13e56269242e19d8de5a4f509ac68.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e23a6fd421c4e41",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f03ecbd9c5722524",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "840dd2f7c1175677"
            ]
        ]
    },
    {
        "id": "840dd2f7c1175677",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": " docker start openfoam",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "docker start",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "05ec4df4693454af"
            ],
            [],
            []
        ]
    },
    {
        "id": "ed8821db4f41d5f4",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 240,
        "wires": []
    },
    {
        "id": "05ec4df4693454af",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && ./Allrun\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Allrun",
        "x": 590,
        "y": 80,
        "wires": [
            [
                "57f87b7f8b50c835"
            ],
            [
                "991d2ef4ba4d50f8"
            ],
            [
                "573230bd4a09471a"
            ]
        ]
    },
    {
        "id": "de2bf0a639f4a6bb",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "4547cff9c1cb21fc"
            ]
        ]
    },
    {
        "id": "4547cff9c1cb21fc",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && ./Allclean\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Allclean",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "af46240f814bf7ec"
            ],
            [
                "c9274de831258e90"
            ],
            [
                "d2ab5ae7249ee7c9"
            ]
        ]
    },
    {
        "id": "3571e39d6fb16752",
        "type": "file in",
        "z": "3e745e36ff578044",
        "name": "Control Dict",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\system\\controlDict",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "ascii",
        "allProps": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "93e3aecc79fbdf97"
            ]
        ]
    },
    {
        "id": "0ce9b29f263b5e06",
        "type": "file",
        "z": "3e745e36ff578044",
        "name": "ControlDictnew",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\system\\controlDict",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "ascii",
        "x": 1120,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "d0126eaa3897bd94",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 800,
        "wires": []
    },
    {
        "id": "868304febe8772c6",
        "type": "function",
        "z": "3e745e36ff578044",
        "name": "function 1",
        "func": "// Assuming msg.payload contains the content of the file\n// Set the \"endTime\" value to 300\nvar endTime = msg.payload.endTime;\n\n\nvar modifiedContent = msg.payload.sim_control.replace(/endTime\\s+[\\d.-]+;/, \"endTime   \" + endTime + \";\");\n\n\n\n\n// Update the payload with the modified content\nmsg.payload = modifiedContent;\n\n// Return the modified content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 660,
        "wires": [
            [
                "0ce9b29f263b5e06"
            ]
        ]
    },
    {
        "id": "93e3aecc79fbdf97",
        "type": "join",
        "z": "3e745e36ff578044",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "868304febe8772c6",
                "d0126eaa3897bd94"
            ]
        ]
    },
    {
        "id": "88fe1a1b88b174f4",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 880,
        "wires": []
    },
    {
        "id": "c7e3c8559d25b49b",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 980,
        "wires": []
    },
    {
        "id": "934b0e8d6c0cefe7",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 1080,
        "wires": []
    },
    {
        "id": "492bb169542e38a8",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 113,
        "y": 880,
        "wires": [
            [
                "d9a16e25e3e4a302"
            ]
        ]
    },
    {
        "id": "d9a16e25e3e4a302",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "cd \"C:/Users/XR-Lab/Documents/Jeswin Files/Project HoloCFD/openfoamdocker\" && conda run -n Acrossim python processor_OF_TESSELLATE.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 760,
        "y": 880,
        "wires": [
            [
                "88fe1a1b88b174f4"
            ],
            [
                "c7e3c8559d25b49b"
            ],
            [
                "934b0e8d6c0cefe7"
            ]
        ]
    },
    {
        "id": "73c2b586b8127f37",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f633a238518a1779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "840dd2f7c1175677"
            ]
        ]
    },
    {
        "id": "36fca438632cfef6",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f633a238518a1779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "7bdbc529b2e6a939",
                "3571e39d6fb16752"
            ]
        ]
    },
    {
        "id": "7bdbc529b2e6a939",
        "type": "function",
        "z": "3e745e36ff578044",
        "name": "function 2",
        "func": "msg.topic = \"endTime\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 760,
        "wires": [
            [
                "93e3aecc79fbdf97"
            ]
        ]
    },
    {
        "id": "70ef5a014ed94e05",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_clean",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f633a238518a1779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 640,
        "wires": [
            [
                "4547cff9c1cb21fc"
            ]
        ]
    },
    {
        "id": "d9da75269833ea55",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_process",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f633a238518a1779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "d9a16e25e3e4a302"
            ]
        ]
    },
    {
        "id": "993668af2ce93126",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f633a238518a1779",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "3d89d53cb4f5c1ab"
            ]
        ]
    },
    {
        "id": "d2ab5ae7249ee7c9",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 560,
        "wires": []
    },
    {
        "id": "c9274de831258e90",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "af46240f814bf7ec",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 480,
        "wires": []
    },
    {
        "id": "573230bd4a09471a",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 160,
        "wires": []
    },
    {
        "id": "991d2ef4ba4d50f8",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 120,
        "wires": []
    },
    {
        "id": "57f87b7f8b50c835",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 60,
        "wires": []
    },
    {
        "id": "3d89d53cb4f5c1ab",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "cd \"C:/Users/XR-Lab/Documents/Jeswin Files/Project HoloCFD/openfoamdocker\" && Unity.bat",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "ede1dbd7692bc119"
            ],
            [
                "e9cd0bbae346b508"
            ],
            [
                "39b344f9a97322b2"
            ]
        ]
    },
    {
        "id": "ede1dbd7692bc119",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e9cd0bbae346b508",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1160,
        "wires": []
    },
    {
        "id": "39b344f9a97322b2",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4768be6973f821f1",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "3d89d53cb4f5c1ab"
            ]
        ]
    },
    {
        "id": "2b8070528304fc34",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9553e3877d11dee8"
            ]
        ]
    },
    {
        "id": "bc3a1460f7d6551b",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "8817e98c1c3c63a2",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "9553e3877d11dee8",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && cartesianMesh\" ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Cartesian_MESH",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "ed8821db4f41d5f4"
            ],
            [
                "bc3a1460f7d6551b"
            ],
            [
                "8817e98c1c3c63a2"
            ]
        ]
    }
]