InteractiveCFD/flow.json
[
    {
        "id": "3e745e36ff578044",
        "type": "tab",
        "label": "mainflow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1813a83246977f7",
        "type": "tab",
        "label": "MQTT_communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be1b3ebbdcfed87f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f633a238518a1779",
        "type": "mqtt-broker",
        "name": "",
        "broker": "37c13e56269242e19d8de5a4f509ac68.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e23a6fd421c4e41",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad4a3b3c95053afd",
        "type": "nextcloud-credentials",
        "cname": "",
        "address": "https://cloud.tuhh.de",
        "insecure": false
    },
    {
        "id": "bd5a391d566dae34",
        "type": "webdav-credentials",
        "cname": "",
        "address": "https://cloud.tuhh.de",
        "basePath": "remote.php/webdav/files/",
        "insecure": false
    },
    {
        "id": "f03ecbd9c5722524",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "840dd2f7c1175677"
            ]
        ]
    },
    {
        "id": "840dd2f7c1175677",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": " docker start openfoam",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "docker start",
        "x": 330,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "05ec4df4693454af",
                "f367a87adee8a1e0"
            ]
        ]
    },
    {
        "id": "ed8821db4f41d5f4",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "05ec4df4693454af",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && ./Allrunparallel\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Allrunparallel",
        "x": 510,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "1f03ba64af029a15",
                "f367a87adee8a1e0"
            ]
        ]
    },
    {
        "id": "de2bf0a639f4a6bb",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1180,
        "y": 20,
        "wires": [
            [
                "bf84947ea715a0a2"
            ]
        ]
    },
    {
        "id": "73c2b586b8127f37",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "840dd2f7c1175677"
            ]
        ]
    },
    {
        "id": "d9da75269833ea55",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_process",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 20,
        "wires": [
            [
                "f04603a7df5a3291"
            ]
        ]
    },
    {
        "id": "573230bd4a09471a",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "2b8070528304fc34",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "9553e3877d11dee8"
            ]
        ]
    },
    {
        "id": "bc3a1460f7d6551b",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "8817e98c1c3c63a2",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "9553e3877d11dee8",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && cartesianMesh\" ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Cartesian_MESH",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "ed8821db4f41d5f4"
            ],
            [
                "bc3a1460f7d6551b"
            ],
            [
                "8817e98c1c3c63a2"
            ]
        ]
    },
    {
        "id": "842eff4626a04586",
        "type": "debug",
        "z": "3e745e36ff578044",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 80,
        "wires": []
    },
    {
        "id": "f04603a7df5a3291",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "cd \"C:/Users/XR-Lab/Documents/Jeswin Files/Project HoloCFD/openfoamdocker\" && conda run -n Acrossim python TesselateParaview.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TesselateBlender",
        "x": 750,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "02488c6ed8f21066",
                "f367a87adee8a1e0"
            ]
        ]
    },
    {
        "id": "02488c6ed8f21066",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "cd \"C:/Users/XR-Lab/Documents/Jeswin Files/Project HoloCFD/openfoamdocker\" && \"C:\\Program Files\\Blender Foundation\\Blender 3.5\\3.5\\python\\bin\\python.exe\" TesselateBlender.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TesselateParaview",
        "x": 970,
        "y": 80,
        "wires": [
            [
                "573230bd4a09471a"
            ],
            [
                "573230bd4a09471a"
            ],
            [
                "573230bd4a09471a",
                "bf84947ea715a0a2",
                "cfe683cfcff78abc",
                "f367a87adee8a1e0"
            ]
        ]
    },
    {
        "id": "ded2f3eb09cd4e45",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 20,
        "wires": [
            [
                "f04603a7df5a3291"
            ]
        ]
    },
    {
        "id": "9b6c0b448e2df970",
        "type": "link in",
        "z": "3e745e36ff578044",
        "name": "link in 1",
        "links": [
            "400b1318e0bbe831"
        ],
        "x": 65,
        "y": 420,
        "wires": [
            [
                "be820ec65d9161e8",
                "840dd2f7c1175677"
            ]
        ]
    },
    {
        "id": "be820ec65d9161e8",
        "type": "function",
        "z": "3e745e36ff578044",
        "name": "function 16",
        "func": "// Combine the two messages here\nvar combinedPayload = msg.payload.sim_control_temperature + '+' + msg.payload.sim_control_velocity;\n\n// Send the combined message\nmsg.payload = combinedPayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "8886b73b785bf951",
                "946ac97a2e47b4bb",
                "02ae16a00b1efcc3"
            ]
        ]
    },
    {
        "id": "8886b73b785bf951",
        "type": "template",
        "z": "3e745e36ff578044",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "import bpy\nimport os\nfrom distutils.dir_util import copy_tree\nimport timeit\nimport glob\nimport shutil\n\n#start2 = timeit.default_timer()\n#data format to export visual CFD data from ParaView: x3d, vrml, svg and other supported formats\n#(optional) exportParaview = input ('Enter the export format from ParaView: ')\nexportParaview = 'x3d'\nexport_format_paraview = '.' + exportParaview\n\nimport_format_blender = export_format_paraview\n#data format to export visual CFD data from Blender: fbx, obj, 3ds, ply, stl and other supported formats\n\nexportBlender = 'glb'  # Define the export format for Blender\nexport_format_blender = '.' + exportBlender\n#create a directory to collect processed data and metadata\nstatefile = \"reference_velocity.py\"\npath_metadata = 'process/metadata/'\nos.makedirs(path_metadata, exist_ok=True)\npath_paraview = os.getcwd() + '/' + path_metadata\npath_blender = path_paraview\npath_unityfor = os.getcwd() + '/' + 'process/'\n# Loop through all objects in the scene\n#blender starts metadata import & export\npath_to_obj_dir = os.path.join(path_blender)\n#get list of all files in directory\nfile_list = sorted(os.listdir(path_to_obj_dir))\n#get a list of files ending in 'obj' in Blender\nobj_list = [item for item in file_list if item.endswith(import_format_blender)]\n#loop through the strings in obj_list and add the files to the scene\nfor item in obj_list:\n    path_to_file = os.path.join(path_to_obj_dir, item)\n    bpy.ops.import_scene.x3d(filepath = path_to_file)\n    #get the current path and make a new folder for the exported meshes\n    path_blender = bpy.path.abspath(path_blender)\n    # Get a reference to the current active scene\n    scene = bpy.context.scene\n    for obj in scene.objects:\n        bpy.ops.object.select_all(action='DESELECT') #to deselect all meshes\n        # Select the current object\n\n        # Check if the object name starts with \"Shape_IndexedFaceSet\"\n        #if obj.name.startswith(\"Shape_IndexedFaceSet\"):\n        if obj.name != \"Cube\":\n            # Select the object\n            obj.select_set(True)\n            print(obj.name)\n        \n    \n    bpy.ops.export_scene.gltf(filepath=path_blender + '{{payload}}' + export_format_blender, export_format='GLB', use_selection=True,export_tangents=True, export_attributes=True,) \n    print(\"Done\")   \n\n\"\"\"\nData processing analytics for qualitative studies (3)\n\"\"\"\n        \npath_to_obj_dir = os.path.join(path_blender)\nfile_list = sorted(os.listdir(path_to_obj_dir))\nobj_list = [item for item in file_list if item.endswith('.glb')]\nsize_file_blender = []\nfor item in obj_list:\n    path_to_file = os.path.join(path_to_obj_dir, item)\n    size_processing_blender=os.path.getsize(path_to_file)\n    print('GLB file sizes in bytes:',size_processing_blender)\n    size_file_blender.append(size_processing_blender)\n    shutil.copy(path_to_file, os.getcwd() + '/' + 'ExpressServer/ABs/')\n    cloud_path = r\"Z:\\TestCFD\"\n    shutil.copy(path_to_file, cloud_path)\n\nprint('Data processing has successfully been completed!')\n\n#clean up metadata \n#metadata = input ('Clean all metadata? [y or n]: ')\nmetadata = \"y\"\nmypath = path_paraview\nif metadata == 'y':\n    for mydata in glob.glob(mypath + \"Shape*\"):\n        shutil.copy(mydata, os.getcwd() + '/' + 'process/')\n    for metadata in glob.glob(mypath + \"*\"):\n        os.remove(metadata)\n    print ('Metadata is cleaned.')\nelse:\n    print ('Metadata is available under the process directory.')\n#self.text_comments.insert('end', open(filename,'r').read())\n\n\n\n\n\"\"\"\nThe end\n\"\"\"",
        "output": "str",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "01835ba2ef1e25a5"
            ]
        ]
    },
    {
        "id": "01835ba2ef1e25a5",
        "type": "file",
        "z": "3e745e36ff578044",
        "name": "TesselateBlender",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\TesselateBlender.py",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "a4cae2ac3d8ea16c"
            ]
        ]
    },
    {
        "id": "a974ebe7f8e151a6",
        "type": "join",
        "z": "3e745e36ff578044",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "f04603a7df5a3291",
                "573230bd4a09471a"
            ]
        ]
    },
    {
        "id": "1f03ba64af029a15",
        "type": "change",
        "z": "3e745e36ff578044",
        "name": "SimulationDone",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SimulationDone",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "a974ebe7f8e151a6"
            ]
        ]
    },
    {
        "id": "a4cae2ac3d8ea16c",
        "type": "change",
        "z": "3e745e36ff578044",
        "name": "NameSet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NameChanged",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "NameSet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 420,
        "wires": [
            [
                "a974ebe7f8e151a6"
            ]
        ]
    },
    {
        "id": "bf84947ea715a0a2",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && ./Allcleanlognew\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Allcleanlog",
        "x": 1290,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "842eff4626a04586"
            ]
        ]
    },
    {
        "id": "70ef5a014ed94e05",
        "type": "mqtt in",
        "z": "3e745e36ff578044",
        "name": "",
        "topic": "sim_clean",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "4547cff9c1cb21fc"
            ]
        ]
    },
    {
        "id": "4547cff9c1cb21fc",
        "type": "exec",
        "z": "3e745e36ff578044",
        "command": "docker exec -w /data/jeswin_test1 openfoam bash -c \"source /usr/lib/openfoam/openfoam2212/etc/bashrc && ./Allclean\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Allclean",
        "x": 900,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4ed0aad7e08a5dc4",
        "type": "link in",
        "z": "3e745e36ff578044",
        "name": "link in 2",
        "links": [
            "643ffeb4a6cb1432"
        ],
        "x": 455,
        "y": 300,
        "wires": [
            [
                "a974ebe7f8e151a6"
            ]
        ]
    },
    {
        "id": "c6ad17e74be41922",
        "type": "comment",
        "z": "3e745e36ff578044",
        "name": "MQTTBeforeFile",
        "info": "",
        "x": 160,
        "y": 320,
        "wires": []
    },
    {
        "id": "4e44684359a0dd87",
        "type": "comment",
        "z": "3e745e36ff578044",
        "name": "MQTTAfterfile",
        "info": "AfterFile",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "f084791b8f176a99",
        "type": "mqtt out",
        "z": "3e745e36ff578044",
        "name": "MqttOut",
        "topic": "sim_complete",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e23a6fd421c4e41",
        "x": 1520,
        "y": 340,
        "wires": []
    },
    {
        "id": "cfe683cfcff78abc",
        "type": "change",
        "z": "3e745e36ff578044",
        "name": "Success message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "946ac97a2e47b4bb"
            ]
        ]
    },
    {
        "id": "f367a87adee8a1e0",
        "type": "function",
        "z": "3e745e36ff578044",
        "name": "function 19",
        "func": "if (msg.payload.code !== 0) {\n    // The code is not equal to 0, so it's an error\n    msg.payload = \"Error\";\n    return msg;\n} else {\n    // The code is equal to 0, no error\n    return null; // Continue with the original message\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "02ae16a00b1efcc3"
            ]
        ]
    },
    {
        "id": "fc6a98909359f904",
        "type": "inject",
        "z": "3e745e36ff578044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Error",
        "payloadType": "str",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "f084791b8f176a99"
            ]
        ]
    },
    {
        "id": "946ac97a2e47b4bb",
        "type": "join",
        "z": "3e745e36ff578044",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1410,
        "y": 260,
        "wires": [
            [
                "f084791b8f176a99"
            ]
        ]
    },
    {
        "id": "02ae16a00b1efcc3",
        "type": "join",
        "z": "3e745e36ff578044",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1330,
        "y": 360,
        "wires": [
            [
                "f084791b8f176a99"
            ]
        ]
    },
    {
        "id": "87d1c7252f8a980e",
        "type": "template",
        "z": "b1813a83246977f7",
        "name": "Temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "boundaryField\n{\n    \n    wall\n    {\n        type            zeroGradient;\n    }\n\n    symmetry\n    {\n        type            symmetry;\n    }\n\n    pipe\n    {\n        type            fixedValue;    // pipe has constant T\n        value           uniform    {{payload}} ;\n    }\n\n    outlet\n    {\n        type            zeroGradient;\n    }\n\n    inlet\n    {\n        type            fixedValue;   \n        value           uniform    300;\n    }\n}\n\n\n// ************************************************************************* //\n",
        "output": "str",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "9798b407664b3155"
            ]
        ]
    },
    {
        "id": "3f1c11f9bd827b07",
        "type": "inject",
        "z": "b1813a83246977f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sim_control_temperature",
        "payload": "600",
        "payloadType": "str",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "87d1c7252f8a980e",
                "47921fd3c88560cf",
                "98cc2d95c9c2db24"
            ]
        ]
    },
    {
        "id": "35410e808e4d85d5",
        "type": "mqtt in",
        "z": "b1813a83246977f7",
        "name": "",
        "topic": "sim_control_temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "87d1c7252f8a980e",
                "47921fd3c88560cf",
                "98cc2d95c9c2db24"
            ]
        ]
    },
    {
        "id": "0ba63e928eae0a8b",
        "type": "template",
        "z": "b1813a83246977f7",
        "name": "Velocity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "boundaryField\n{\n    wall\n    {\n        type            noSlip;\n    }\n\n    symmetry\n    {\n        type            symmetry;\n    }\n\n    pipe\n    {\n        type            noSlip;\n    }\n\n    inlet\n    {\n        type            fixedValue;\n        value     uniform (0 {{payload}} 0) ;\t// Re = 5000 for u(inlet) = 0.05 m/s\n    }\n\n    outlet\n    {\n        type            zeroGradient;\n    }\n}\n\n\n// ************************************************************************* //\n",
        "output": "str",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "e52d5b2d5dabab0f"
            ]
        ]
    },
    {
        "id": "5adb87c4f332be43",
        "type": "file",
        "z": "b1813a83246977f7",
        "name": "Unew",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\298\\U",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "ascii",
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "ce02247d212f3006"
            ]
        ]
    },
    {
        "id": "66e4c9e9ed661c15",
        "type": "mqtt in",
        "z": "b1813a83246977f7",
        "name": "",
        "topic": "sim_control_velocity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "0ba63e928eae0a8b",
                "2cd468e1bf6decba",
                "98cc2d95c9c2db24"
            ]
        ]
    },
    {
        "id": "882f9db02bde07fc",
        "type": "inject",
        "z": "b1813a83246977f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sim_control_velocity",
        "payload": "0.06",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "0ba63e928eae0a8b",
                "2cd468e1bf6decba",
                "98cc2d95c9c2db24"
            ]
        ]
    },
    {
        "id": "a5235ad17bfd6921",
        "type": "template",
        "z": "b1813a83246977f7",
        "name": "ControlDict",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/*--------------------------------*- C++ -*----------------------------------*\\\n| =========                 |                                                 |\n| \\\\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |\n|  \\\\    /   O peration     | Version:  v2212                                 |\n|   \\\\  /    A nd           | Website:  www.openfoam.com                      |\n|    \\\\/     M anipulation  |                                                 |\n\\*---------------------------------------------------------------------------*/\nFoamFile\n{\n    version     2.0;\n    format      ascii;\n    class       dictionary;\n    object      controlDict;\n}\n// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //\n\napplication     buoyantBoussinesqSimpleFoam;\n\nstartFrom       startTime;\n\nstartTime       0;\n\nstopAt          endTime;\n\nendTime   \t{{payload}};\n\ndeltaT          1;\n\nwriteControl    timeStep;\n\nwriteInterval   10;\n\npurgeWrite      0;\n\nwriteFormat     ascii;\n\nwritePrecision  6;\n\nwriteCompression off;\n\ntimeFormat      general;\n\ntimePrecision   6;\n\nrunTimeModifiable true;\n\n\n// ************************************************************************* //\n",
        "output": "str",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "40a60c8371159533",
                "1971e6ed09a32419"
            ]
        ]
    },
    {
        "id": "40a60c8371159533",
        "type": "file",
        "z": "b1813a83246977f7",
        "name": "ControlDictNew",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\system\\controlDict",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "ascii",
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "52ed1f79226b41aa",
        "type": "inject",
        "z": "b1813a83246977f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "str",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "a5235ad17bfd6921"
            ]
        ]
    },
    {
        "id": "1971e6ed09a32419",
        "type": "debug",
        "z": "b1813a83246977f7",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "90aada988b880ffa",
        "type": "mqtt in",
        "z": "b1813a83246977f7",
        "name": "",
        "topic": "sim_control_control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a5235ad17bfd6921"
            ]
        ]
    },
    {
        "id": "68547468c5fe4e11",
        "type": "file in",
        "z": "b1813a83246977f7",
        "name": "U",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\0\\U",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "ascii",
        "allProps": false,
        "x": 450,
        "y": 940,
        "wires": [
            [
                "0fb8f005ac408b62"
            ]
        ]
    },
    {
        "id": "f80dfdd160191df5",
        "type": "file",
        "z": "b1813a83246977f7",
        "name": "Tnew",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\0\\U",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "ascii",
        "x": 1010,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "5b563850936c4c7b",
        "type": "debug",
        "z": "b1813a83246977f7",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "28b5a483e7b32657",
        "type": "function",
        "z": "b1813a83246977f7",
        "name": "function 13",
        "func": "// Assuming msg.payload contains the content of the file\n// Set the \"endTime\" value to 300\nvar InletU = msg.payload.InletU;\n\n\nvar modifiedContent = msg.payload.sim_control_velocity.replace(/inlet\\s*\\n\\s*\\{\\s*\\n\\s*type\\s*fixedValue;(.*)value\\s*uniform \\(0 0.05 0\\);/s, \"inlet\\n    {\\n        type            fixedValue;\\n        value     uniform  (0 \" + InletU + \" 0) ;\");\n\n\n\n\n// Update the payload with the modified content\nmsg.payload = modifiedContent;\n\n// Return the modified content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 940,
        "wires": [
            [
                "f80dfdd160191df5"
            ]
        ]
    },
    {
        "id": "0fb8f005ac408b62",
        "type": "join",
        "z": "b1813a83246977f7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 590,
        "y": 1040,
        "wires": [
            [
                "28b5a483e7b32657",
                "5b563850936c4c7b"
            ]
        ]
    },
    {
        "id": "65a19131c5dcd605",
        "type": "mqtt in",
        "z": "b1813a83246977f7",
        "name": "",
        "topic": "sim_control_velocity_old",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e23a6fd421c4e41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "61a0086a07de46b0",
                "68547468c5fe4e11"
            ]
        ]
    },
    {
        "id": "61a0086a07de46b0",
        "type": "function",
        "z": "b1813a83246977f7",
        "name": "function 14",
        "func": "msg.topic = \"InletU\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "0fb8f005ac408b62"
            ]
        ]
    },
    {
        "id": "c7de61dde446d51d",
        "type": "join",
        "z": "b1813a83246977f7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1510,
        "y": 420,
        "wires": [
            [
                "643ffeb4a6cb1432",
                "d30b646f879f28ce"
            ]
        ]
    },
    {
        "id": "643ffeb4a6cb1432",
        "type": "link out",
        "z": "b1813a83246977f7",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4ed0aad7e08a5dc4"
        ],
        "x": 1625,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d33d1562b5a0739",
        "type": "comment",
        "z": "b1813a83246977f7",
        "name": "mainflow",
        "info": "Connects to the mainflow",
        "x": 1620,
        "y": 360,
        "wires": []
    },
    {
        "id": "d30b646f879f28ce",
        "type": "debug",
        "z": "b1813a83246977f7",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 600,
        "wires": []
    },
    {
        "id": "47921fd3c88560cf",
        "type": "file in",
        "z": "b1813a83246977f7",
        "name": "Temperature",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\298\\T",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "b02e2babc8a1196a"
            ]
        ]
    },
    {
        "id": "b02e2babc8a1196a",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substringBefore(payload, \"boundaryField\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tchanged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "e95c0eab631b519c"
            ]
        ]
    },
    {
        "id": "e1c6e130e895f935",
        "type": "file",
        "z": "b1813a83246977f7",
        "name": "Tnew",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\298\\T",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "ascii",
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "e0a690a21238d9ef"
            ]
        ]
    },
    {
        "id": "9798b407664b3155",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bchanged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "e95c0eab631b519c"
            ]
        ]
    },
    {
        "id": "e95c0eab631b519c",
        "type": "join",
        "z": "b1813a83246977f7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "f1f366b61f3c156f"
            ]
        ]
    },
    {
        "id": "f1f366b61f3c156f",
        "type": "function",
        "z": "b1813a83246977f7",
        "name": "function 17",
        "func": "// Combine the two messages here\nvar combinedPayload = msg.payload.Tchanged + \"\\n\" + msg.payload.Bchanged;\n\n// Send the combined message\nmsg.payload = combinedPayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "e1c6e130e895f935"
            ]
        ]
    },
    {
        "id": "2cd468e1bf6decba",
        "type": "file in",
        "z": "b1813a83246977f7",
        "name": "Velocity",
        "filename": "C:\\Users\\XR-Lab\\Documents\\Jeswin Files\\Project HoloCFD\\openfoamdocker\\jeswin_test1\\298\\U",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "0f780ea980a92d10"
            ]
        ]
    },
    {
        "id": "0f780ea980a92d10",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substringBefore(payload, \"boundaryField\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tchanged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            [
                "727d223634f9b3b9"
            ]
        ]
    },
    {
        "id": "727d223634f9b3b9",
        "type": "join",
        "z": "b1813a83246977f7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "1e7182818b3947c5"
            ]
        ]
    },
    {
        "id": "e52d5b2d5dabab0f",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bchanged",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "727d223634f9b3b9"
            ]
        ]
    },
    {
        "id": "1e7182818b3947c5",
        "type": "function",
        "z": "b1813a83246977f7",
        "name": "function 18",
        "func": "// Combine the two messages here\nvar combinedPayload = msg.payload.Tchanged + \"\\n\" + msg.payload.Bchanged;\n\n// Send the combined message\nmsg.payload = combinedPayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "5adb87c4f332be43"
            ]
        ]
    },
    {
        "id": "ce02247d212f3006",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Udone",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 580,
        "wires": [
            [
                "c7de61dde446d51d"
            ]
        ]
    },
    {
        "id": "e0a690a21238d9ef",
        "type": "change",
        "z": "b1813a83246977f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tdone",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 280,
        "wires": [
            [
                "c7de61dde446d51d"
            ]
        ]
    },
    {
        "id": "400b1318e0bbe831",
        "type": "link out",
        "z": "b1813a83246977f7",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "9b6c0b448e2df970"
        ],
        "x": 635,
        "y": 440,
        "wires": []
    },
    {
        "id": "98cc2d95c9c2db24",
        "type": "join",
        "z": "b1813a83246977f7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "400b1318e0bbe831"
            ]
        ]
    },
    {
        "id": "8b20ec3e651b9022",
        "type": "comment",
        "z": "b1813a83246977f7",
        "name": "mainflow",
        "info": "Connects to the mainflow",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "07b6b243166735b3",
        "type": "inject",
        "z": "be1b3ebbdcfed87f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "5982babbde106c6f"
            ]
        ]
    },
    {
        "id": "f8af4bed6bf1f549",
        "type": "webdav-read",
        "z": "be1b3ebbdcfed87f",
        "wname": "",
        "server": "bd5a391d566dae34",
        "filename": "515+0.05.glb",
        "output": "binary",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "5960b6ec42841fd5"
            ]
        ]
    },
    {
        "id": "5960b6ec42841fd5",
        "type": "debug",
        "z": "be1b3ebbdcfed87f",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "5982babbde106c6f",
        "type": "nextcloud-webdav-out",
        "z": "be1b3ebbdcfed87f",
        "wname": "",
        "server": "ad4a3b3c95053afd",
        "filename": "/TestCFD/515+0.05.glb",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "5960b6ec42841fd5"
            ]
        ]
    }
]